<div>
    @foreach (IDocument post in Document.GetChildren())
    {
        IDocument topicDocument = OutputPages[$"news/topics/{post.GetString("topic")}/index.html"].First();
        string excerpt = post.GetString(Keys.Excerpt);
        <div>
            <div class="page-box">
                <h4>@Html.DocumentLink(post)</h4>
                <div>
                    @post.GetDateTime("Published").ToLongDateString() in
                    <a href="@(topicDocument.GetLink())"><span>@topicDocument.GetTitle()</span></a>
                </div>
                @if (!string.IsNullOrEmpty(excerpt))
                {
                    @Html.Raw(excerpt)
                    <p><a href="@Context.GetLink(post)">Read more...</a></p>
                }
            </div>
        </div>
    }
    @{
        IDocument older = Document.GetDocument(Keys.Next);
        IDocument newer = Document.GetDocument(Keys.Previous);
    }
    @if (older != null || newer != null)
    {
        <div>
            <div>
                @if (newer != null)
                {
                    <a href="@Context.GetLink(newer)" role="button">Newer</a>
                }
            </div>
            <div>
                @if (older != null)
                {
                    <a href="@Context.GetLink(older)" role="button">Older</a>
                }
            </div>
        </div>
    }
</div>